@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');
.hour-map {
    margin: 0;
    width: 120%;
    text-align: center;
    justify-content: center;
    display: flex;
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}


.hour {
  width: 100%;
}

.hour hr {
  width: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hnd ul {
  list-style: none;
  width: 100%;
}